// screen для экранов компьютеров
// @media screen and (max-width: 992px)
@media (max-width: 1212px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  head {
    font-size: 7px;
  }
  body {
    header {
      padding: 8rem 3rem;
      h4 {
        font-size: 1.1em;
      }
      .col-md-6 {
        padding: 0rem 0.5rem;
      }
      .col-md-4 {
        padding: 0rem 0.5rem;
      }
      input {
        margin-top: 0rem;
      }
    }
    .adv {
      p {
        font-size: 0.85em;
      }
      .img-fluid {
        max-width: 20%;
      }
    }
    .popgoods {
      .row {
        padding-bottom: 0rem;
        .margin-bottom {
          margin-bottom: 1.5rem;
          img {
            width: 60%;
          }
        }
      }
      padding-bottom: 1.5rem;
    }

    .form-measuring {
      .img-fluid {
        max-width: 40%;
      }
    }
    .reviews {
      .col-md-5 {
        padding: 7px;
      }
    }
  }
}


@media (max-width: 767px) {
    head {
      font-size: 5px;
    }
    body {
      font-size: 14px;
      .navbar {
        padding: 0rem 0rem;
        .container-xl {
          padding: 0rem 4rem;
        }
        &-brand {
          img {
            height: 40px;
          }
        }
      }
      .title {
        h4 {
        margin: 0rem;
        }
        margin: 0rem;
        &::before, &::after {
          content: '';
          display: none;
        }
      }
    header {
      @include background-img('../img/bg/background.jpg');
      font-size: 1.1em;
      padding: 4rem 2rem;
    }
    .popcat {
      padding-bottom: 0.5em;
      img {
        width: 80%;
        margin-bottom: 1.5rem;
      }
    }
    .adv {
      p {
        font-size: 1.1em;
      }
    }
    .form-measuring {
      .col-sm-6 {
        margin-top: 3rem;
      }
      p {
        margin: 0rem;
      }
    }
    .reviews {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
  }
}

@media (max-width: 575px) {
  head {
    font-size: 3px;
  }
  body {
    font-size: 13px;
    .navbar {
      .container-xl {
        padding: 0rem 1.5rem;
      }
   }
   .title {
    h4 {
    padding: 1rem;
    margin: 0rem;
    }
    margin: 0;
    &::before, &::after {
      content: '';
      display: none;
    }
  }
   header {
     .col-11 {
       padding: 0rem;
     }
    padding: 1rem 0rem;
     p {
      font-size: 1.2em;
     }
   }
   .popcat {
     .col-10 {
       padding: 0rem;
     }
   }
   .adv {
     .col-10 {
       padding: 0rem;
     }
      p {
        font-size: 1.2em;
        margin-bottom: 2rem;
      }
    }
    .popgoods {
      .col-10 {
        padding: 0rem;
      }
    }
    .form-measuring {
      .col-12 {
        margin-top: 2rem;
        font-size: 1.2em;
      }
      .col-12:first-child {
        margin-top: 0rem;
      }
      .img-fluid {
        max-width: 25%;
      }
      .descr {
        font-size: 1.2em;
      }
    }
    .footer {
      .nav-link {
        padding: 0.3rem;
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
}
