.row{}
.justify-content-center{}
.col-md-6{}
.align-self-center{}
.text-uppercase{}
.col-md-4{}
.text-center{}
.btn{
  border: 2px solid $primary-color;
  background-color: transparent;
  color: $primary-color;
  border-radius: 0.5rem;
  font-size: 1em;
  padding: 1rem 2rem;
  &:hover {
    background-color: $primary-color;
    color: $primary-color-text;
  }
}