.btn{
  border: 2px solid $primary-color;
  background-color: transparent;
  color: $primary-color;
  border-radius: 0.5rem;
  font-size: 1em;
  padding: 1rem 2rem;
  transition: all 0.2s;
  &:hover {
    background-color: $primary-color;
    color: $primary-color-text;
  }
  &-inverse {
    background-color: $primary-color;
    color: $primary-color-text;
    border-radius: 0rem;
    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
  &-measuring {
    color: $primary-color-text;
    border-color: $primary-color-text;
    &:hover {
      border-color: $primary-color;
    } 
  }
}