.form-measuring {
  @include background-img('../img/bg/bg-fiedback.png');
  position: relative;
  &::before {
    @include gradient-bg($primary-color-dark, $primary-color, $primary-color-text);
  }
  .row {
    padding: 3rem 0rem;
  }
  h5 {
    font-weight: 500;
    font-size: 1.3em;
  }
  .descr {
    font-weight: 500;
    font-size: 0.75em;
  }
  input {
    width: 100%;
    padding: 0.8rem;
    background: transparent;
    border: 2px solid $primary-color-text;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    @include input-color($primary-color-text);
  }

  img {
    margin-bottom: 1.5rem;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  h6 {
    font-weight: 500;
    font-size: 1.1em;
  }
  p {
    font-weight: 500;
    font-size: 1em;
  }
}