header {
  @include background-img('../img/bg/bg-header.png');
  padding: 15rem 3rem;
  p {
    font-weight: 300;
    color: $secondary-text-color;
  }
  h4{
    font-size: 1.4em;
    font-weight: 700;
    color: $secondary-text-color;
    >span {
      color: $primary-color;
    }
  }
  form {
    border: double 1rem $primary-color-text;
    background: rgba($primary-color-text, 0.95);
    background-clip: padding-box;
    padding: 1.5rem;
    span {
      color: $primary-color;
      font-weight: 700;
      font-size: 1em;
    }
    input {
      width: 100%;
      padding: 1rem;
      background-color: transparent;
      border: 2px solid $primary-color;
      border-radius: 0.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      @include input-color($primary-color);
    }
  }
}
