.popcat {
  @include background-img('../img/bg/background.jpg');
  padding-bottom: 4rem;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    p {
      padding: 0;
      margin: 0;
      font-weight: 700;
      color: $primary-text-color;
      text-shadow: 0 0 3px $primary-color-text;
      position:absolute;
      font-size: 1.6em;
      z-index: 100;
      transition: all 1s;
    }
    img {
      transition: all 0.5s;
    }
    &:hover {
      img {
      background-color: $primary-color-light;
      transform: scale(1.1);
      }
      p {
      transform: scale(0.9);
    }
    }
    
  }
}