.popgoods {
  @include background-img('../img/bg/background.jpg');
  .row {
    padding-bottom: 3rem;
  }
  .row:first-child {
    padding-bottom: 0rem;
  }
  h6 {
    font-size: 1em;
    font-weight: 700;
  }
}