.title {
  overflow: hidden;
  text-align: center;
  h4 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: $secondary-text-color;
    margin: 2rem 0rem;
    padding: 2rem;
    font-size: 1.5em;
  }
  &::before, &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 1rem;
    background-color: $primary-color;
    position: relative;
    opacity: .5;
  }
  &::before {
    margin-left: -100%;
    left: 1.5rem;
  }
  &::after {
    margin-right: -100%;
    right: 1.5rem;
  }
}